@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: Arial, sans-serif;
    /* background: #f0f4f8; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.profile-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 540px;
    padding: 10px 0px 20px 110px;
    text-align: center;
}

.profile-card h2 {
    color: #007bff;
    margin-bottom: 20px;
    margin-right: 100px;
}

.profile-card img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 20px;
    margin-right: 100px;
}

.profile-card .form-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
    flex-direction: column;
}

.profile-card .form-group label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #55A7FF;
    margin-bottom: 40px;
    
    /* text-align: left; */
}

.profile-card .form-group input {
    font-family: 'Poppins', sans-serif;
    color: #868686;
    border: none;
    border-bottom: 1px solid #ccc;
    /* padding: 5px; */
    width: 60%;
    /* text-align: left; */
    margin-bottom: 15px;
}

.profile-card .form-group .edit-icon {
    cursor: pointer;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
