
<div class="wrapper fadeInDown" >
    <!-- este es el enlace al tipo de letra -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
    
        <div id="formContent">
    
          <div class="fadeIn first">
            <!-- <img src="assets\img\github-logo.png" id="icon" alt="User Icon" /> -->
    
          </div>
          <h1>Iniciar Sesión</h1>
          <form #sellerSigUp="ngForm">
            <input #usuario type="text" id="usuario" class="fadeIn second custom-text-color " ngModel name="usuario" placeholder="Nombre de usuario">
            <input #contrasena type="password" id="contrasena" class="fadeIn third custom-text-color" ngModel name="login" placeholder="Contraseña">
            <button type="button" class="btn btn-primary" (click)="login(usuario.value, contrasena.value)">Iniciar Sesión</button>
          </form>
          <div>
            <h3 [ngClass]="'Create-count'" [routerLink]="['/recuperar-contrasena']">¿Olvidó su contraseña?</h3>
            <!-- <h3>¿No tiene una cuenta?</h3> -->
            <h3 [ngClass]="'Create-count'" [routerLink]="['/register']">Crear cuenta</h3>
          </div>
          <div>
            <div class="button-container">
             <button type="button" class=" social-button google-button">
                <img src="assets/img/google-logo.png" alt="Google logo" width="20" height="20">
                Iniciar sesión con Google
              </button>
            </div>
            
            <div class="button-container">
              <button type="button" class=" social-button github-button">
                <img src="assets/img/github-logo.png" alt="GitHub logo" width="20" height="20">
                Iniciar sesión con GitHub
              </button>
            </div>

            <div class="button-container">
            <button type="button" class=" social-button facebook-button">
              <img src="assets/img/facebook-logo.png" alt="Facebook logo" width="20" height="20">
              Iniciar sesión con Facebook
            </button>
          </div>
        </div>
        <div>
          
        </div>

      </div>
    
    