<body class ="body">
    <table>
        <caption>Turnos Asignados</caption>
        <thead>
            <tr>
                <th>Código</th>
                <th>Número de Turno</th>
                <th>Dependencia</th>
                <th>Hora de Asignación</th>
                <th>Estado</th>
                <th>Acciones</th> <!-- Nueva columna -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>1</td>
                <td>Dependencia 1</td>
                <td>08:00 AM</td>
                <td>Asignado</td>
                <td>
                    <button type="button">Eliminar</button> <!-- Nuevo botón -->
                </td>
            </tr>
            <!-- Aquí se llenarán los datos de la petición -->
        </tbody>
    </table>
</body>