<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>

</head>

<body>
    <div class="top-bar">
        <div class="top-bar-text">Administrador</div>
        <div>
            <button class="custom-top-button">
                <img src="assets\img\notification.png" alt="Logo 1">
            </button>
        </div>

    </div>

    <div class="left-bar">
        <div>
            <button class="custom-button">
                <img src="assets\img\ProfileAdmin.png" alt="Logo 1">
            </button>
            <button class="custom-button">
                <img src="assets\img\Home.png" alt="Logo 2">
            </button>
            <button class="custom-button-shift">
                <img src="assets\img\Shifts.png" alt="Logo 3">
            </button>
        </div>
        <button class="custom-button">
            <img src="assets\img\Logout.png" alt="Logo 4">
        </button>
    </div>

</body>