@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');




/* .custom-button {
    display: block;
    width: 10%;
    border: none;
    background: none;
    cursor: pointer;
    margin: 25px 0;
} */

.custom-top-button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
}

.body{
    border-radius: 15px;
    padding: 30px;
    box-shadow: 1px 2px 9px rgb(154,219,249);
}

.card {
    border-radius: 15px;
    /* Ajusta este valor para cambiar el grado de redondeo de los bordes */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    /* Añade una sombra para darle un efecto 3D */
    padding: 20px;
    /* Añade un poco de espacio alrededor del contenido de la tarjeta */
    background-color: #ffffff;
    /* Añade un color de fondo a la tarjeta */
}

.right {
    width: 45%;
    /* Ancho del div derecho */
    height: 450px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 120px;
}

.left {
    width: 35%;
    /* Ancho del div izquierdo */
    height: 50vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}


/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.turno-panel {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

h1 {
    text-align: center;
    color: #333333;
}

.info {
    margin-top: 20px;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 10px);
    /* Ajusta este valor según el espacio que quieras entre los títulos */
    margin-bottom: 10px;
}

.label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #55A7FF;
    margin-bottom: 5px;
    /* Ajusta este valor según la separación que desees */
}

.value {
    font-family: 'Poppins', sans-serif;
    color: #868686;
    margin-top: 0px;
    /* Ajusta este valor según la separación que desees */
    margin-bottom: 40px;
    border-bottom: 1px solid #000;
}

.left-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .custom-button img {
    width: 100%;
    height: 30%;
} */