<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>User page</title>
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-text">Control de turnos</div>
        <div>
            <button class="custom-top-button">
                <img src="assets/img/notification.png" alt="Logo 1">
            </button>
        </div>
    </div>

    <div class="left-bar">
        <div>
            <button class="custom-button">
                <img src="assets/img/Profile.png" alt="Logo 1">
            </button>
            <button class="custom-button">
                <img src="assets/img/Home.png" alt="Logo 2">
            </button>
            <button class="custom-button">
                <img src="assets/img/History.png" alt="Logo 3">
            </button>
        </div>
        <button class="custom-button">
            <img src="assets/img/Logout.png" alt="Logo 4">
        </button>
    </div>

    <div class="center-image">
        <img src="assets/img/man.png" alt="Center Image">
        <p class="center-text">Parece que no tienes un turno creado</p>
        <div class="dropdown">
            <button class="custom-button newshift-button">
                <img src="assets/img/NewShiftButton.png" alt="Logo 5">
            </button>
            <div class="dropdown-content">
                <a href="#">Laboratorios</a>
                <a href="#">Medicina General</a>
                <a href="#">Odontología</a>
            </div>
        </div>
        </div>
   


        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>



