<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divs a la derecha y a la izquierda</title>

</head>

<body>

    <div class="top-bar">
        <div class="top-bar-text">Control de turnos</div>
        <!-- <div class="login-button">Iniciar Sesión</div> -->
        <div class="login-button" (click)="login()">Iniciar Sesión</div>
    </div>

    <div class="container">
        <div class="left card">
            <div class="column">
                <!-- Contenido del módulo -->
                <h2 class="title">Módulo</h2>
                <h2 class="title"> 32</h2>
                <h2 class="title"> 32</h2>
                <h2 class="title"> 32</h2>
                <h2 class="title"> 32</h2>


            </div>
            <div class="column">
                <!-- Contenido del turno -->
                <h2 class="title">Turno</h2>
                <h2 class="title">MED-073</h2>
                <h2 class="title">MED-074</h2>
                <h2 class="title">MED-075</h2>
                <h2 class="title">MED-076</h2>

            </div>
        </div>





        <div class="right ">
            <!-- Contenido del div derecho -->
            <div id="slider">
                <input type="radio" name="slider" id="slide1" checked>
                <input type="radio" name="slider" id="slide2">
                <input type="radio" name="slider" id="slide3">
                <input type="radio" name="slider" id="slide4">
                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <img src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="slide-image" alt="imagenes">
                                </div>
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <img src="https://images.unsplash.com/photo-1584515933487-779824d29309?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="slide-image" alt="imagenes">
                                </div>
                            </div>
                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <img src="https://images.unsplash.com/photo-1554734867-bf3c00a49371?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="slide-image" alt="imagenes">
                                </div>
                            </div>
                            <div class="slide slide_4">
                                <div class="slide-content">
                                    <img src="https://images.unsplash.com/photo-1551884170-09fb70a3a2ed?q=80&w=2352&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="slide-image" alt="imagenes">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
                <div id="bullets">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                    <label for="slide4"></label>
                </div>
            </div>
        </div>
    </div>

</body>

</html>